/* body
=============================== */
body {
    margin:0;
    font-size: 120%;
    font-family: "Helvetica New", Arial, sans-s;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center:
}

/* navigation
================================*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* overflow: hidden; */
    background-color: #7F0799;
}

li {
    float: right;
}

nav a {
    color: white; 
    text-decoration: none;
    display: block;
    padding: 15px;
    }

/* nav a = jeder a-Tag immerhalb der Navigation. */

li a:hover {
    background-color: #9649CB;
}

nav .logoPosition {
    float: left;
}

nav .menue {
    color: yellowgreen;
}


/* header
================================*/


h1 {
    color:white;
}

.headerbanner {
    height: 70vh;
    color: white;
    background: url(images/banner.png) no-repeat fixed;
    background-size: cover;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.background-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(105, 104, 105, 0, 8);
    display: flex;
    justify-content: center; /* Einfache Lösung, damit man alles in einer Section stylen kann. */
    align-items: center;
  }
  

  .test {
      border-top: 20px dotted yellow;
  }
  

  /* main
   =============================*/
   main {
       display: flex;
       max-width: 100%;
   }

   article {
       width: 50%;
       padding: 2%;
   }

   img {
       max-width: 100%;
   }
   /* Das Bild soll immer 100% der Spaltenbreite haben, auch wenn die Spalte nur 50% hat. */

   .imageInText {
       border-radius: 50%;
   }

/* festlegen von Breakpoints
===================================== */

   @media screen and (max-width: 720px) {
    main {
        display: block;
    }   
    
    article {
       display: block;
       width: 100%
   }